.dialog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;

  width: 33.25rem;
  padding: 1.5rem;

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
}
